tenancy_ocid      = "ocid1.tenancy.oc1..exampleuniqueID"
compartment_id    = "ocid1.compartment.oc1..exampleuniqueID"
region            = "us-ashburn-1"
ssh_public_key    = "ssh-rsa AAAA..."
pg_admin_password = "ChangeMeToAStrongPassword123!"

# Optional overrides
# compute_shape     = "VM.Standard.E4.Flex"
# compute_ocpus     = 1
# compute_memory_gb = 8
# db_shape          = "PostgreSQL.VM.Standard.E4.Flex.2.32GB"
# db_storage_gb     = 32
# project_name      = "oci-finops"
